node_modules/
local.settings.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
.vscode/
test/
getting_started.md
*.js.map